body {
  font-family: Impact;
  font-size: 30px;
  background-color: #ECECEA;
}

.cont {
  cursor: pointer;
  position: absolute;
  left: 215px;
  top: 120px;
}

.tarning {
  position: absolute;
  font-size: 30px;
  border: none;
  transition-duration: 0.3s;
  display: block;
  width: 100px;
  height: 100px;
}

.cont:hover .tarning {
  opacity: 0.3;
}

.cont:hover .Di {
  opacity: 1;
}

.Di {
  color: #00374f;
  opacity: 0;
  position: absolute;
  top: 34px;
  left: 22px;
  transition-duration: 0.4s;
}

.imgh {

  width: 577px;
  height: 92px;
  left: -10px;
}


.button {
  font-size: 30px;
  background-color: #006C99;
  border: none;
  transition-duration: 0.4s;
  display: block;
  width: 70px;
}

.button:hover{
  background-color: #005d84;
  cursor: pointer;
}

.val {
  background-color: #006C99;
  font-size: 30px;
  border: none;
  height: 42px;
  transition-duration: 0.4s;
}

.val:hover{
  background-color: #005d84;
}

.text1 {
  position: absolute;
  display: block;
  top: -20px;
  left: 100px;
}

.text2 {
  position: absolute;
  display: block;
  top: 91px;
  left: 100px;
}

.text3 {
  position: absolute;
  display: block;
  top: 128px;
  left: 100px;
}

.text4 {
  position: absolute;
  display: block;
  top: 17px;
  left: 100px;
}

.text5 {
  position: absolute;
  display: block;
  top: 54px;
  left: 100px;
}

.psi {
  position: absolute;
  top: 70px;
  right: 260px;
  padding: 2px;
  text-align: center;
  line-height: 10%;
  
}

.psiant {
  font-size: 40px;
  width: 40px;
  height: 40px;
  background-color: #ECECEA;
  border: 2px solid #005d84;
  position: absolute;
  left: 77px;
  text-align: center;
}

.spells {
  float: right;
  max-width: 50%;
}

.spelltext {
  position: absolute;
  max-width: 660px;
  font-size: 15px;
  top: 220px;
  right: 30px;
}

.spellsel {
  font-weight: bold;
  position: absolute;
  right: 580px;
  top: 205px;
  color: white;
  background-color: #006C99;
  border: 2px solid #558C89;
  transition-duration: 0.4s;
  height: 25px;
}

.spellsel:hover {
  background-color: #005d84;
}

.focustitle {
  position: absolute;
  font-size: 30px;
  top: 29px;
  right: 30px;
}

.focus {
  position: absolute;
  top: 99px;
  right: 20px;
  border: 2px solid #006C99;
}

.container {
  display: block;
  font-size: 15px;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  max-width: 200px;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #ECECEA;
  border-radius: 50%;
  opacity: 0;
}

.container:hover input ~ .checkmark {
  background-color: #dbdbdb;
  opacity: 50;
}

.container input:checked ~ .checkmark {
  background-color: #006C99;
  opacity: 100;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
