body {
  background-color: #FFFFFF;
  color: #0A0A0A;
  font-size: 25px;
  
  transition: border-color 2s ease-out;
  transition: background 2s ease-out;
  
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.butt {
  
  margin: 3%;
  
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 12px 20px 10px 20px;
  border-radius: 28px;
  border: solid 2px #adadad;


  cursor: pointer;
  

  text-align: center;
  font-size: 25px;
  color: #adadad;
  background-color: #FFFFFF;
}

.butt:hover {

  color: #7f7f7f;
  border-color: #7f7f7f;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(95px, 8%) minmax(95px, 8%);
  

}

.text {
  text-align: left;
}

.textboi {
  font-size: auto;
  margin: 3%;
  
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 12px 20px 10px 20px;
  border-radius: 28px;
  border: solid 2px #FFFFFF;
}



.rounded {

}

.val {
  margin-top: 10px;
  margin-left: 30px;
  
  font-size: 20px;
  width: 40px;
  
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #adadad;
  border-color: #adadad;
}

.val:hover {
  color: #0A0A0A;
  border-color: #0A0A0A;
}

#theme {
  position: fixed;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  
  color: #adadad;
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 10px 0px 8px 0px;
  border-radius: 28px;
  border: solid 1px #adadad;
  
  bottom: 4px;
  right: 7px;
}

#theme:hover {
  color: #0A0A0A;
  border-color: #0A0A0A;
}

#close {
  position: fixed;
  bottom: 48px;
  right: 2px;
  
  cursor: pointer;
  background-color: transparent;
  border-color: #adadad;
  color: #adadad;
  
  text-align: center;
  
  box-sizing: content-box;
  width: 17px;
  height: auto;
  padding: 0px 0px 0px 0px;
  border-radius: 28px;
  border: solid 1px #adadad;
}

#close:hover {
  border-color: #0A0A0A;
  color: #0A0A0A;
}

.butt:active {
  border-color: #000000;
  color: #000000;
}

#log {
  position: fixed;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  
  color: #adadad;
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 10px 0px 8px 0px;
  border-radius: 28px;
  border: solid 1px #adadad;
  
  bottom: 4px;
  right: 60px;
  
}

#log:hover {
  color: #0A0A0A;
  border-color: #0A0A0A;
}
