body {
  background-color: #0A0A0A;
  color: #FFFFFF;
  font-size: 25px;
  
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
}

.butt {
  
  margin: 3%;
  
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 12px 20px 10px 20px;
  border-radius: 28px;
  border: solid 2px #575757;


  cursor: pointer;
  

  text-align: center;
  font-size: 25px;
  color: #575757;
  background-color: transparent;


  transition: border-color 0.5s ease-out;
  transition: background 0.5s ease-out;
  

}

.butt:hover {

  color: #bcbcbc;
  border-color: #bcbcbc;
}

.butt:active {
  color: #ffffff;
  border-color: #ffffff;
  
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(95px, 8%) minmax(95px, 8%);
  

}

.text {
  text-align: left;
}

.textboi {
  font-size: auto;
  margin: 3%;
  
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 12px 20px 10px 20px;
  border-radius: 28px;
  border: solid 2px transparent;
}

::selection {
  background: none;
}


.rounded {

}

.val {
  margin-top: 10px;
  margin-left: 30px;
  
  font-size: 20px;
  width: 40px;
  
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: transparent;
  color: #575757;
}

.val:hover {
  color: #FFFFFF;
}

#themeD {
  position: fixed;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  
  color: #575757;
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 10px 0px 8px 0px;
  border-radius: 28px;
  border: solid 1px #575757;
  
  bottom: 4px;
  right: 4px;
}

#themeD:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

#close {
  position: fixed;
  bottom: 48px;
  right: 1px;
  
  cursor: pointer;
  background-color: transparent;
  border-color: #575757;
  color: #575757;
  
  text-align: center;
  
  box-sizing: content-box;
  width: 17px;
  height: auto;
  padding: 0px 0px 0px 0px;
  border-radius: 28px;
  border: solid 1px #575757;
}

#close:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
}


#logD {
  position: fixed;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  
  color: #575757;
  box-sizing: content-box;
  width: 50px;
  height: auto;
  padding: 10px 0px 8px 0px;
  border-radius: 28px;
  border: solid 1px #575757;
  
  bottom: 4px;
  right: 60px;
}

#logD:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
}


